<body style="background-color: #0ca874"></body>

<div style="margin: 80px; text-align: center; color: #fff;">

  <p id="notice"><%= notice %></p>

  <%= link_to 'Post Another Job', new_job_path %>

</div>
